[Unit]
Description=Live Sectional

[Service]
ExecStart=/opt/live_sectional/bin/python3 /opt/live_sectional/lib/python3.5/site-packages/LiveSectional/LiveSectional.py startup
ExecStop=/opt/live_sectional/bin/python3 /opt/live_sectional/lib/python3.5/site-packages/LiveSectional/LiveSectional.py shutdown
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
