[Unit]
Description=pipowerbtn

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/python /home/pi/LiveSectional/pipowerbtn.py

[Install]
WantedBy=multi-user.target
